@model IEnumerable<Pog.Models.TopicDueDate>

@{
	ViewData["Title"] = "Index";
}

<h1>Date Submitted</h1>

@if (User.IsInRole("ADMIN"))
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.DueDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FinalDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<p>@Html.DisplayFor(modelItem => item.DueDate)</p>
				</td>
				<td>
					<p>@Html.DisplayFor(modelItem => item.FinalDate)</p>
				</td>

				@if (User.IsInRole("STAFF")||User.IsInRole("QAMANAGER")||User.IsInRole("QACOORDINATOR"))
				{
					<td>
						<p>
							<a asp-action="Details" asp-route-id="@item.Id">Details</a>
						</p>
					</td>
				}
				@if (User.IsInRole("ADMIN"))
				{
					<td>
						<p>
							<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
							<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
							<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						</p>
					</td>
				}				
			</tr>
		}
	</tbody>
</table>
