@model Pog.Models.CUser
@{ 
     var RemainingRoleIds = (List<string>)ViewData["RemainingRoleIds"];
     var CurrentRoleIds = (List<string>)ViewData["CurrentRoleIds"];
 }
 
<a asp-action="Index">Back to List</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Current Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (CurrentRoleIds?.Count() == 0)
        {
            <tr><td colspan="2"><strong class="text-danger">There is no role</strong></td></tr>
        }
        else
        {
            foreach (var role in CurrentRoleIds)
            {
                <tr>
                    <td><p><strong>@role</strong></p></td>
                    <td>
                        <form asp-action="RemoveRole">
                            <p><strong><input type="hidden" name="roleId" value="@role" /></strong></p>
                            <p><strong><input type="hidden" name="userId" value="@Model.Id" /></strong></p>
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Remaining Roles</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (RemainingRoleIds?.Count() == 0)
        {
            <tr><td colspan="2"><p><strong class="text-danger">There is no remaining role</strong></p></td></tr>
        }
        else
        {
            foreach (var role in RemainingRoleIds)
            {
                <tr>

                    <td><p><strong>@role</strong></p></td>
                    <td>
                        <form asp-action="AddRole">
                            <p><strong><input type="hidden" name="roleId" value="@role" /></strong></p>
                            <p><strong><input type="hidden" name="userId" value="@Model.Id" /></strong></p>

                            <button type="submit" class="btn btn-danger">Add</button>
                        </form>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>