@model IEnumerable<CUser>

@{
    ViewData["Title"] = "Index";
}

<h1>User Management</h1>
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Create</a>
<hr />
<div class="w3-padding w3-white notranslate">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.Email)</p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.FirstName)</p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.LastName)</p>
                        </td>
                        <td>
                            <a asp-action="AssignRole" asp-route-id="@item.Id">Assign Role |</a>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details |</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>